################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/JobBoardCRUD/v16/.suo
/JobBoardCRUD/bin/Debug/netcoreapp3.1
/JobBoardCRUD/obj
/JobBoardCRUD.Application/obj
/JobBoardCRUD.Application/bin/Debug/netcoreapp3.1
/JobBoardCRUD.DataAccess/bin/Debug/netcoreapp3.1
/JobBoardCRUD.DataAccess/obj
/JobBoardCRUD.Domain/bin/Debug/netcoreapp3.1
/JobBoardCRUD.Domain/obj
/JobBoardCRUD/bin/Release/netcoreapp3.1
/JobBoardCRUD.DataAccess/bin/Release/netcoreapp3.1
/JobBoardCRUD.Domain/bin/Release/netcoreapp3.1
/JobBoardCRUD.Application/bin/Release/netcoreapp3.1
/JobBoardCRUD.Models/bin/Release/netcoreapp3.1
/Employees/bin/Debug/netcoreapp3.1
/Employees/obj/Debug/netcoreapp3.1
/Employees/obj
/Employees.Application/bin/Debug/netcoreapp3.1
/Employees.Application/obj/Debug/netcoreapp3.1
/Employees.Application/obj
/Employees.DataAccess/bin/Debug/netcoreapp3.1
/Employees.DataAccess/Migrations
/Employees.DataAccess/obj
/Employees.DataAccess.Test/obj
/Employees.Domain/bin/Debug/netcoreapp3.1
/Employees.Domain/obj
/Employees.Models/bin/Debug/netcoreapp3.1
/Employees.Models/obj
/Employees.DataAccess.Test/bin/Debug/netcoreapp3.1
/ConsoleEmployee/obj
